<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPONENTS_NAME Component's page</title>
   
</head>
<body>
     <div class="components-container">
       <button class="c-btn">افتراضي</button>
       <button class="c-btn c-btn--primary">رئيسي</button>
       <button class="c-btn c-btn--dastructive">حذف</button>
       <button class="c-btn c-btn--ghost">شفاف</button>
       <button class="c-btn c-btn--slim">ضيع</button>

     </div>
</body>
</html>